@charset "UTF-8";
body {
  color: #7A7A7A;
  background-color: #FFFDEE;
  font-family: "Montserrat", sans-serif;
}

/* Глобальне скидання стилів по тегам*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
}

address {
  font-style: normal;
}

button {
  border: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 414px) {
  .container {
    max-width: 414px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
    padding-left: 47px;
    padding-right: 47px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 85px;
    padding-right: 85px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

@font-face {
  font-family: "Montserrat";
  src: local(""), url("../fonts/montserrat-bold.woff2") format("woff2"), url("../fonts/montserrat-bold.woff") format("woff"), url("../fonts/montserrat-bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Montserrat";
  src: local(""), url("../fonts/montserrat-semibold.woff2") format("woff2"), url("../fonts/montserrat-semibold.woff") format("woff"), url("../fonts/montserrat-semibold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Montserrat";
  src: local(""), url("../fonts/montserrat-medium.woff2") format("woff2"), url("../fonts/montserrat-medium.woff") format("woff"), url("../fonts/montserrat-medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Montserrat";
  src: local(""), url("../fonts/montserrat-regular.woff2") format("woff2"), url("../fonts/montserrat-regular.woff") format("woff"), url("../fonts/montserrat-regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: local(""), url("../fonts/montserrat-light.woff2") format("woff2"), url("../fonts/montserrat-light.woff") format("woff"), url("../fonts/montserrat-light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Film P3";
  src: local(""), url("../fonts/film-p3-bold.woff2") format("woff2"), url("../fonts/film-p3-bold.woff") format("woff"), url("../fonts/film-p3-bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Times New Roman";
  src: local(""), url("../fonts/times-new-roman-bold.woff2") format("woff2"), url("../fonts/times-new-roman-bold.woff") format("woff"), url("../fonts/times-new-roman-bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Times New Roman";
  src: local(""), url("../fonts/times-new-roman-regular.woff2") format("woff2"), url("../fonts/times-new-roman-regular.woff") format("woff"), url("../fonts/times-new-roman-regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
.about-hotel__container {
  position: relative;
  padding-top: 18px;
  padding-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  .about-hotel__container {
    padding-top: 120px;
    padding-bottom: 262px;
  }
}
@media screen and (min-width: 1280px) {
  .about-hotel__container {
    padding-bottom: 237px;
  }
}

.about-hotel__subtitle {
  text-align: right;
  font-family: "Times New Roman";
  font-size: 20px;
  line-height: 1.15;
  color: #B4B4B4;
  margin-bottom: 6px;
}
@media screen and (min-width: 1024px) {
  .about-hotel__subtitle {
    font-size: 32px;
    line-height: 1.16;
    margin-bottom: 4px;
  }
}

.about-hotel__logo {
  text-align: right;
  font-family: "Film P3", "sans-serif";
  font-weight: 700;
  font-size: 40px;
  line-height: 1.08;
  letter-spacing: 0.3em;
  -webkit-transform: translateX(0.3em);
          transform: translateX(0.3em);
  text-transform: uppercase;
  color: #494848;
  margin-bottom: 16px;
}
@media screen and (min-width: 1024px) {
  .about-hotel__logo {
    font-size: 64px;
    margin-bottom: 24px;
  }
}

.about-cards {
  list-style: none;
}
@media screen and (max-width: 1023px) {
  .about-cards {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .about-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.about-card:first-child {
  margin-bottom: 28px;
}
@media screen and (min-width: 1024px) {
  .about-card:first-child {
    margin-bottom: 142px;
  }
}
@media screen and (min-width: 1280px) {
  .about-card:first-child {
    margin-bottom: 162px;
  }
}

.about-card:nth-child(2n):not(:last-child) {
  margin-bottom: 32px;
}
@media screen and (min-width: 1024px) {
  .about-card:nth-child(2n):not(:last-child) {
    margin-bottom: 0;
  }
}

.about-card__description {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  max-width: 242px;
  margin-bottom: 28px;
}
@media screen and (min-width: 1024px) {
  .about-card__description {
    font-size: 16px;
    max-width: 419px;
    margin-bottom: 0;
  }
}

.about-card__thumb {
  -webkit-box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  overflow: hidden;
}
@media screen and (min-width: 1024px) {
  .about-card__thumb {
    -webkit-box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
            box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
  }
}

.about-card:nth-child(n+2) .about-card__description {
  color: #c79002;
  max-width: 163px;
}
@media screen and (min-width: 1024px) {
  .about-card:nth-child(n+2) .about-card__description {
    max-width: 312px;
  }
}

.about-card:nth-child(n+2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-card:nth-child(2n) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.about-card:nth-child(n+2) .about-card__thumb {
  width: 200px;
}
@media screen and (min-width: 1024px) {
  .about-card:nth-child(n+2) .about-card__thumb {
    width: 350px;
  }
}
@media screen and (min-width: 1280px) {
  .about-card:nth-child(n+2) .about-card__thumb {
    width: 460px;
  }
}

.about-card--reverse:first-child .about-card__description {
  margin-left: auto;
  margin-right: 0;
}

.about-card--reverse:first-child .about-card__thumb {
  margin-right: auto;
  margin-left: 0;
  width: 244px;
}
@media screen and (min-width: 1024px) {
  .about-card--reverse:first-child .about-card__thumb {
    position: absolute;
    top: -24px;
    left: 65px;
    margin-left: 0;
    width: 400px;
  }
}
@media screen and (min-width: 1280px) {
  .about-card--reverse:first-child .about-card__thumb {
    top: -24px;
    left: 95px;
    width: 460px;
  }
}

.about-card--reverse:nth-child(2n) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.about-card--reverse:nth-child(2n) .about-card__description {
  margin-right: 20px;
  margin-left: 0;
}
@media screen and (min-width: 1024px) {
  .about-card--reverse:nth-child(2n) .about-card__description {
    margin-right: 48px;
    margin-left: 0;
  }
}
@media screen and (min-width: 1280px) {
  .about-card--reverse:nth-child(2n) .about-card__description {
    margin-right: 45px;
    margin-left: 0;
  }
}

.about-card--reverse:nth-child(2n+3) .about-card__description {
  margin-left: 20px;
  margin-right: 0;
}
@media screen and (min-width: 1024px) {
  .about-card--reverse:nth-child(2n+3) .about-card__description {
    margin-left: 48px;
    margin-right: 0;
  }
}
@media screen and (min-width: 1280px) {
  .about-card--reverse:nth-child(2n+3) .about-card__description {
    margin-left: 45px;
    margin-right: 0;
  }
}

.slider-container {
  margin-top: 32px;
  padding-left: 20px;
  padding-right: 20px;
  width: 330px;
  height: 245px;
  overflow-x: clip;
}
@media screen and (min-width: 1024px) {
  .slider-container {
    position: absolute;
    margin-top: -32px;
    width: 455px;
    height: 194px;
  }
}
@media screen and (min-width: 1280px) {
  .slider-container {
    width: 575px;
    height: 254px;
    margin-top: -120px;
  }
}

.slider-line {
  height: 245px;
  width: 1305px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  position: relative;
  left: 0;
  -webkit-transition: all ease 2s;
  transition: all ease 2s;
  -webkit-transform: translateX(-35%);
          transform: translateX(-35%);
}
@media screen and (min-width: 1024px) {
  .slider-line {
    height: 194px;
    gap: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .slider-line {
    width: 1430px;
    height: 254px;
  }
}

.slider-image {
  border-radius: 2px;
  -webkit-box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 1024px) {
  .slider-button {
    position: absolute;
    top: 1154px;
    left: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .slider-button {
    position: absolute;
    top: 1214px;
    left: 72px;
  }
}

.icon-svg {
  width: 32px;
  height: 32px;
}

.slider-prev {
  margin-right: 33px;
}

.slider-prev,
.slider-next {
  margin-top: 20px;
  background-color: transparent;
  cursor: pointer;
}
@media screen and (min-width: 1024px) {
  .slider-prev,
.slider-next {
    margin-bottom: 32px;
  }
}

.slider-prev:hover,
.slider-next:hover {
  fill: #F3C653;
}
@media screen and (min-width: 1280px) {
  .slider-prev:hover .slider-prev:focus,
.slider-prev:hover .slider-next:focus,
.slider-next:hover .slider-prev:focus,
.slider-next:hover .slider-next:focus {
    fill: #F3C653;
  }
}/*# sourceMappingURL=main.css.map */