@charset "UTF-8";
body {
  color: #7A7A7A;
  background-color: #FFFDEE;
  font-family: "Montserrat", sans-serif;
}

/* Глобальне скидання стилів по тегам*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
}

address {
  font-style: normal;
}

button {
  border: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 414px) {
  .container {
    max-width: 414px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
    padding-left: 47px;
    padding-right: 47px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 85px;
    padding-right: 85px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

@font-face {
  font-family: "Montserrat";
  src: local(""), url("../fonts/montserrat-bold.woff2") format("woff2"), url("../fonts/montserrat-bold.woff") format("woff"), url("../fonts/montserrat-bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Montserrat";
  src: local(""), url("../fonts/montserrat-semibold.woff2") format("woff2"), url("../fonts/montserrat-semibold.woff") format("woff"), url("../fonts/montserrat-semibold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Montserrat";
  src: local(""), url("../fonts/montserrat-medium.woff2") format("woff2"), url("../fonts/montserrat-medium.woff") format("woff"), url("../fonts/montserrat-medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Montserrat";
  src: local(""), url("../fonts/montserrat-regular.woff2") format("woff2"), url("../fonts/montserrat-regular.woff") format("woff"), url("../fonts/montserrat-regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: local(""), url("../fonts/montserrat-light.woff2") format("woff2"), url("../fonts/montserrat-light.woff") format("woff"), url("../fonts/montserrat-light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Film P3";
  src: local(""), url("../fonts/film-p3-bold.woff2") format("woff2"), url("../fonts/film-p3-bold.woff") format("woff"), url("../fonts/film-p3-bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Times New Roman";
  src: local(""), url("../fonts/times-new-roman-bold.woff2") format("woff2"), url("../fonts/times-new-roman-bold.woff") format("woff"), url("../fonts/times-new-roman-bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Times New Roman";
  src: local(""), url("../fonts/times-new-roman-regular.woff2") format("woff2"), url("../fonts/times-new-roman-regular.woff") format("woff"), url("../fonts/times-new-roman-regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
.logo {
  font-family: "Film P3", "sans-serif";
  text-transform: uppercase;
}

.about-hotel {
  padding-top: 18px;
}
@media screen and (min-width: 1024px) {
  .about-hotel {
    padding-top: 120px;
    position: relative;
  }
}
.about-hotel__headline {
  margin-bottom: 6px;
  color: #B4B4B4;
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: end;
}
@media screen and (min-width: 1024px) {
  .about-hotel__headline {
    margin-bottom: 4px;
    font-size: 32px;
  }
}
.about-hotel__logo {
  margin-bottom: 16px;
  color: #494848;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.076;
  letter-spacing: 0.3em;
  text-align: end;
  -webkit-transform: translateX(0.3em);
          transform: translateX(0.3em);
}
@media screen and (min-width: 1024px) {
  .about-hotel__logo {
    margin-bottom: 24px;
    font-size: 64px;
  }
}
.about-hotel__room-text {
  max-width: 242px;
  margin-right: 0;
  margin-left: auto;
  margin-bottom: 28px;
  color: #5F5F5F;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-align: start;
  -webkit-transform: translateX(0.02em);
          transform: translateX(0.02em);
}
@media screen and (min-width: 1024px) {
  .about-hotel__room-text {
    max-width: 419px;
    font-size: 16px;
    line-height: 1.218;
  }
}
@media screen and (min-width: 1280px) {
  .about-hotel__room-text {
    min-width: 488px;
  }
}
.about-hotel__room-img {
  margin-bottom: 32px;
  border-radius: 2px;
  -webkit-box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 1024px) {
  .about-hotel__room-img {
    position: absolute;
    top: -24px;
    left: 97px;
  }
}
@media screen and (min-width: 1280px) {
  .about-hotel__room-img {
    left: 165px;
  }
}
.about-hotel__hall-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1024px) {
  .about-hotel__hall-container {
    position: absolute;
    top: 476px;
    left: 252px;
  }
}
@media screen and (min-width: 1280px) {
  .about-hotel__hall-container {
    top: 504px;
    left: 364px;
  }
}
.about-hotel__hall-text {
  margin-right: 21px;
  color: #C79002;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  max-width: 163px;
}
@media screen and (min-width: 1024px) {
  .about-hotel__hall-text {
    margin-right: 48px;
    font-size: 16px;
    line-height: 1.219;
    max-width: 312px;
  }
}
@media screen and (min-width: 1280px) {
  .about-hotel__hall-text {
    margin-right: 45px;
  }
}
.about-hotel__hall-img {
  border-radius: 2px;
  -webkit-box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
}

.slider-container {
  margin-top: 32px;
  width: 510px;
  height: 245px;
  overflow: hidden;
  -webkit-transform: translateX(-35%);
          transform: translateX(-35%);
}
@media screen and (min-width: 1024px) {
  .slider-container {
    position: absolute;
    margin-top: 0;
    width: 428px;
    height: 194px;
    top: 948px;
    left: 32px;
    -webkit-transform: none;
            transform: none;
  }
}
@media screen and (min-width: 1280px) {
  .slider-container {
    top: 899px;
    left: 70px;
    width: 548px;
    height: 254px;
  }
}

.slider-line {
  height: 245px;
  width: 1305px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  position: relative;
  left: 0;
  -webkit-transition: all ease 2s;
  transition: all ease 2s;
}
@media screen and (min-width: 1024px) {
  .slider-line {
    height: 194px;
    gap: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .slider-line {
    width: 1430px;
    height: 254px;
  }
}

.slider-image {
  border-radius: 2px;
  -webkit-box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 1024px) {
  .slider-button {
    position: absolute;
    top: 1154px;
    left: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .slider-button {
    top: 1193px;
    left: 70px;
  }
}

.icon-svg {
  width: 32px;
  height: 32px;
}

.slider-prev {
  margin-right: 20px;
}

.slider-prev,
.slider-next {
  margin-top: 20px;
  background-color: transparent;
}
@media screen and (min-width: 1024px) {
  .slider-prev,
.slider-next {
    margin-bottom: 32px;
  }
}

.slider-prev:hover,
.slider-next:hover {
  fill: #F3C653;
}
@media screen and (min-width: 1280px) {
  .slider-prev:hover .slider-prev:focus,
.slider-prev:hover .slider-next:focus,
.slider-next:hover .slider-prev:focus,
.slider-next:hover .slider-next:focus {
    fill: #F3C653;
  }
}/*# sourceMappingURL=main.css.map */